---
title: "blog"
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}: rishi.malhotra.ca</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
      body,h1,h2,h3,h4,h5 {
        font-family: "Raleway", sans-serif
      }
    </style>
  </head>
  <body>
    {% include navigation.html %}
    <!-- !PAGE CONTENT! -->
    {% for post in site.posts %}
      <a href={{ post.url }}><div class="w3-quarter">
        <h3>{{ post.blogtitle }} by {{ post.author }}</h3>
        <p>{{ titledescription }}</p>
      </div></a>
    {% endfor %}
    <!-- End page content -->
  </body>
</html>
