---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>rishi.malhotra.ca: home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body,h1,h2,h3,h4,h5 {
      font-family: "Raleway", sans-serif
    }
  </style>
</head>
<body>

{% include navigation.html %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for video in site.data.slider %}
      <div class="carousel-item">
        <video class="svideo"
          autoplay
          loop
          controls
        >
          <source src="{{ video.src }}" type="video/{{ video.type }}">
          <img src="{{ video.alt }}" alt="{{ video.ialt }}">
        </video>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
    </div>
  </div>
</div><br>
<script type="text/javascript">
  $('.carousel').carousel()
  $('.svideo').css("height", screen.width + "px")
</script>
</body>
</html>
